.body {
    background-image: url('../../images/quiz-background.webp'); 
  }
  
  .game-page {
    font-family: Arial, sans-serif;
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
  }
.game-page h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px; 
    color: #0c0808; 
    font-weight: 600;

}
.game-page h2 {
    font-size: 24px; /* Larger font size for question text */
    font-weight: bold;
    margin-bottom: 15px;
    color: #ac2626; /* Adjust color as needed */
}
.timer {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #2196f3; /* Blue color */
}

.question-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #232121;
    border-radius: 8px;
}

.question-text {
    font-size: 26px; 
    font-weight: bold;
    margin-bottom: 15px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.option-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1c1818;
    cursor: pointer;
    font-size: 24px;
}

.option-button:hover {
    background-color: #f0f0f0;
}

.option-button.correct {
    background-color: #07ce28; 
    color: #fff;
}

.option-button.incorrect {
    background-color: #e72416; /* Red */
    color: #fff;
}

.option-button.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.question-number {
    font-weight: bold;
    font-size: x-large;
    align-self: center;
    margin-left: 10px;
}

.navigation button {
    padding: 12px 24px;
    background-color: #0019bb; /* Blue */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: large;
}

.navigation button:hover {
    background-color: #0512cb; /* Darker blue */
}

.navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navigation button + button {
    margin-left: 10px;
}

.results {
    text-align: center;
    margin-top: 20px;
  }
  
  .results p {
    margin-bottom: 10px;
  }
  
  .results button {
    padding: 10px 20px;
    background-color: #06589c; /* Blue */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: large;
  }
  
  .results button:hover {
    background-color: #0d8bf2; /* Darker blue */
  }
  

.results button:hover {
    background-color: #0d8bf2; /* Darker blue */
}

.time-remaining {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
