.start-page {
  text-align: center;
  margin-top: 80px;
  background-image: url('../../images/quiz-background.webp'); 
  background-size: cover;
  background-position: center;
  padding: 80px;
  min-height: 400px; 
  color: #fff;
  font-size: 2.5rem; 
  border-radius: 10px;
}

.start-page h1 {
  font-size: 3.5rem;
  color: #fff; 
}

.start-page p {
  font-size: 1.2rem;
  color: #fff; 
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; 
  gap: 20px; /* Space between name and category fields */
  margin-bottom: 30px;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.user-name-input,
.category-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align label and input to the left */
  gap: 10px; /* Space between label and input/select */
  max-width: 300px; /* Limit width for better alignment */
  width: 100%; /* Full width within the container */
}

.user-name-input {
  margin-right: 20px; /* Padding between name and category */
}

.user-name-input input,
.category-selection select {
  width: 100%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.user-name-input input:focus,
.category-selection select:focus {
  outline: none;
  background-color: #f9f9f9;
  border-color: #ff5722;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.user-name-input label,
.category-selection label {
  font-size: 1.5rem; /* Adjust label font size */
  color: #fff; /* Label color */
  margin-bottom: 5px; /* Space between label and input/select */
}

.start-button {
  background-color: #ef470f;
  color: #fff;
  font-size: 1.5rem; 
  padding: 15px 30px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  margin-top: 20px;
  max-width: 300px;
}

.start-button:hover {
  background-color: #d43f0f; 
  transform: scale(1.05); 
}

.start-button:active {
  background-color: #b5350a; 
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column; /* Stack fields on smaller screens */
    gap: 15px;
  }
}
